@font-face {
    font-family: Cinzel;
    src: url(Resources/letters/Cinzel.ttf);
}

body{
    background-color: darkred;
}

header{
    width: 101.4%;
    height: 250%;
    margin: -1%;
    background-image: url(Resources/Images/Sin\ título2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Cinzel;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.images {
    width: 22%;
    margin-top: 1%;
    margin-left: 1%;
    height: 9rem;
    background-image: url(Resources/Images/Logo\ con\ bandera\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.box1{
    width: 100%;
    height: 20%;
    position: relative;
    top: 70%;
    right: 30%;
}

.box2{
    width: 170%;
    height: 270%;
    position: relative;
    right: 3%;
      
}

.text1{
    width: 15%;
    margin-left: 33%;
}

.text2{
    width: 65%;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 2rem;
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-align: end;
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
}


#section-form {
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 2%;
}


#title__form {
    margin-top: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 1.875rem;
}

form {
    border: 1px black solid;
    width: auto;
    height: auto;
    margin: 5%;
    text-align: center;
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
}


#confirmation-box {
    border: 1px solid black;
    width: auto;
    height: auto;
    margin: 5%;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;

}

.confirmacion-content {
    padding: 2%;
}

.confirmacion-buttons {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

#confirmation-list {
    border: 1px solid black;
    width: auto;
    height: auto;
    margin: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
}



.tables{
    width: 100%;
    



}




.items-footer {
    width: 101.52%;
    margin: -1%;
    margin-top: 2%;
    text-align: center;
    background: cornsilk;
    flex-direction: row-reverse;
}
.img {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.img-donbosco {
    margin-top: 20px;
}

.img-factoria {
    margin-top: 0%;
}
.img-cola{
    margin-top: 1%;
}

.tex p{
    font-size: 1.2rem;
}

.social{
    margin-right: auto;
}

#twitter {
    color: aqua;
    font-size: 3.125rem;
}

#facebook {
    color: blue;
    font-size: 3.125rem;
}

#instagram {
    color: deeppink;
    font-size: 3.125rem;
}

#snapchat {
    color: yellow;
    font-size: 3.125rem;
}